extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    a(href="/signup")
      button(type="button") organiser sign up page
  br
  div
    a(href="/login")
      button(type="button") organiser login page
